/* Arquivo css para a fomatação do site dunk */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 300px;
  background-image: url(../img/dunklogo.jpg);
  background-size: 100%;
  background-position: 0 -100px;
  transition: ease 1s;
  padding-top: 50px;
}
h1 {
  text-align: left;
  font-family: "Helvetica";
}
nav {
  background-color: black;
  text-align: center;
  transition: ease 0.5s;
}
nav ul li {
  display: inline-block;
  padding: 20px;
  transition: ease 0.5s;
}
nav ul li:hover {
  background-color: white;
}

nav ul li a {
  font-family: "Helvetica";
  font-size: 20pt;
  color: grey;
  text-decoration: none;
}
footer {
  height: 200px;
  background-color: black;
  color: white;
  font-family: "helvetica";
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 20%;
}
#redes ul li {
  display: inline-block;
  margin-left: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}

/* Inicio da CSS da Home */
h2 {
  font-family: "Helvetica";
  font-size: 20pt;
  margin: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}
#home p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Helvetica";
  font-size: 12pt;
  line-height: 18pt;
  text-align: justify;
}
#imgHome {
  text-align: center;
}
#imgHome img {
  width: 500px;
  height: 500px;
  margin: 50px;
  border-radius: 100px;
  transition: ease 0.5s;
  cursor: pointer;
}
#imgHome img:hover {
  transform: scale(1.2);
}
iframe {
  width: 97%;
  height: 400px;
  margin: 20px;
}
/* --------- Fim da CSS Home --------- */
/* --------- Inicio da Css da Sobre --------- */
#imgsobre {
  text-align: center;
}
h2 {
  text-align: center;
}

#sobre p {
  width: 70%;
  font-family: helvetica;
  font-size: 12pt;
  line-height: 18pt;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
